.Form {
    margin-right: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sizing {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
  }